
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #87CEEB; /* Cor da borda no cabeçalho */
   
}

.restaurante {
    border: 1px solid #0000FF;
    margin: 10px;
    padding: 10px;
    
  
}
    
   
padding: 10px;
    
   
background-color:#fff ;

}


.restaurante h2 {
   color: #87CEEB;
}



main {
    display: flex;
    
   
flex-wrap: wrap;
    justify-content: space-around;
}

  
