
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


header {
  background-color: #333;
    color: red;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #87CEEB; /* Cor da borda no cabeçalho */
     border: 2px dashed #FF69B4;
   
}

.restaurante {
   border: 2px dashed #FF69B4; /* Adiciona uma borda tracejada de 2px com cor #ddd */
        margin-bottom: 20px;
        padding: 10px;
        background-color: #fff;
    
  
}
    
   
padding: 10px;
    
   
background-color:#fff ;

}


.restaurante h2 {
   color: #87CEEB;
}



main {
    display: flex;
    
   
flex-wrap: wrap;
    justify-content: space-around;
}

  
