/* Estilos para a galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espaçamento entre as imagens */
    background-color: pink;

}

Body{
backgroundcolor- pink
}

/* Estilos para as imagens na galeria */
.gallery a {
    text-decoration: none;
    background-color: EE82EE;
}

.gallery img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
     background-color: C71585;
    
}

.gallery img:hover {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

/* Estilos para o lightbox (Fancybox) */
.fancybox-slide {
    background-color:FF1493; /* Cor de fundo do lightbox */
}

/* Estilos para os botões de controle no lightbox */
.fancybox-button {
    background-color: pink;
    border: none;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

/* Estilos para o ícone de fechar no lightbox */
.fancybox-button--close {
    font-size: 24px;
     background-color: C71585;
}

/* Estilos para a legenda da imagem no lightbox */
.fancybox-caption {
    color: Violet;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.gallery a .image-title {
    
   
color: pink; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte  */
}
