/* Estilos para a galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espaçamento entre as imagens */
    
   

}

Body{
backgroundcolor- pink
}

/* Estilos para as imagens na galeria */
.gallery a {
    text-decoration: none;
    background-color: EE82EE;
}

.gallery img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
    
    
}

.gallery img:hover {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

/* Estilos para o lightbox (Fancybox) */
.fancybox-slide {
    background-color:pink; /* Cor de fundo da imagem ampliada */
}

/* Estilos para os botões de controle  */
.fancybox-button {
    background-color: Aqua;
    border: none;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

/* Estilos para o ícone de fechar no lightbox */
.fancybox-button--close {
    font-size: 24px;
     background-color: aquamarine;
}

/* Estilos para a legenda da imagem no lightbox */
.fancybox-caption {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

