/* Estilos personalizados para a galeria Fancybox */
.fancybox-slide {
    background-color: #fff; /* Cor de fundo do lightbox */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra ao redor do lightbox */
    border-radius: 5px; /* Cantos arredondados */
}

/* Estilos personalizados para os controles de navegação */
.fancybox-button {
    background-color: #333; /* Cor de fundo dos botões */
    border-radius: 50%; /* Botões redondos */
    color: #fff; /* Cor do ícone dos botões */
    border: none; /* Remova as bordas */
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

/* Estilos personalizados para o ícone de fechar */
.fancybox-button--close {
    background-color: red; /* Cor de fundo do botão de fechar */
    font-size: 24px;
}

/* Estilos personalizados para as imagens no Fancybox */
.fancybox-slide img {
    max-width: 80%; /* Reduz a largura máxima para 80% da janela */
    max-height: 80vh; /* Reduz a altura máxima para 80% da altura da viewport */
   
   
}



/* Estilos personalizados para a legenda da imagem */
.fancybox-caption {
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo da legenda */
    color: #fff; /* Cor do texto da legenda */
    padding: 10px;
}
